
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus,
*:active {
    outline: none;
}

.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url("assets/02.jpg") center no-repeat;
    background-size: cover;
}

.use-keyboard-input {
    position: fixed;
    height: 49%;
    width: 80%;
    margin: 2%;
    /*border-radius: 50px;*/
    padding: 30px;
    /*border: 3px solid #98f0ff;;*/
    border: 0;
    color: #98f0ff;
    font-size: 24px;
    /*font-family: 'Share Tech Mono', monospace;*/
    font-family: 'Ubuntu Mono', monospace;    
    /*background-color: rgba(0, 0, 0, 0.7);*/
    /*background-color: rgba(20, 110, 125, 0.75);*/
    background-color: rgba(0, 10, 25, 0.55);
    z-index: 1000;
        
    -webkit-clip-path: polygon(5% 0%, 100% 0%, 100% 90%, 95% 100%, 0% 100%, 0% 10%);
    clip-path: polygon(5% 0%, 100% 0%, 100% 90%, 95% 100%, 0% 100%, 0% 10%);

    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.use-keyboard-input::-webkit-scrollbar {
    display: none;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;    
    user-select: none;
    transition: bottom 0.4s;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}

.vk-hidden {
    bottom: -100%;
}

.vk-keys {
    text-align: center;
}

.vk-key {
    position:relative;
    width: 50px;
    height: 55px; /*width + 10%*/
    max-width: 90px;
    margin: 5px;
    border: none;
    color: #ffffff;
    font-size: 1.05rem;
    font-weight: 800;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    line-height: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    transform: scale(0.95);
    transition: transform 0.3s;
}

.vk-key:hover {
    transform: scale(1.1);
}

.vk-key:active {
    transform: scale(0.85);
}


/* new hex */

.vk-key-hexagon_part {
    display: flex;
    position: absolute;
    left: 0;
    bottom:25%;
    right:0;
    height:50%;
    border-left: 3px solid #98f0ff;
    border-right: 3px solid #98f0ff;        
    transition: background-color .2s; 
}

.vk-key:hover .vk-key-hexagon_part {    
    background: #98f0ff;    
}

.vk-key:hover .vk-key-text {
    color: #333333;
}

.vk-key-on .vk-key-hexagon_part {
    background: #46d9bd;    
}

.vk-key-on .vk-key-text {
    color: #333333;
}

.vk-key-active .vk-key-hexagon_part {
    background: #98f0ff;    
}

.vk-key-active .vk-key-text {
    color: #333333;
}

.vk-key-text {
    margin: auto;
    color:#98f0ff;
}

.vk-key div:nth-child(1) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.vk-key div:nth-child(2) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.vk-key div:nth-child(3) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.shift_correct {
    width: 25px;
}

/* spacebar */

.big_key {
    width: 150px;
    height: 55px;
    margin: 15px;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
    display: inline-flex;   
    border: none;    
    -webkit-tap-highlight-color: transparent;
    position: relative;     
    transform: scale(1);   
    transition: transform 0.3s;
}

.big_key:hover {
    transform: scale(1.1);
}

.big_key:active {
    transform: scale(0.85);
}

.vk_part_key {
    position: relative;
    width: 50px;
    height: 55px; /*width + 10%*/
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;    
}

.vk_part_key-hexagon_part {
    display: flex;
    position: absolute;
    left: 0;
    bottom:25%;
    right:0;
    height:50%;
    border-left: 3px solid #98f0ff;
    border-right: 3px solid #98f0ff;        
    transition: background-color .2s; 
}

.vk_part_key-hexagon_part_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom:25%;
    right:0;
    height:50%;
    color: #98f0ff;
    border-left: 3px solid #98f0ff;
    border-right: 3px solid #98f0ff;        
    transition: background-color .2s; 
}

.vk_part_key div:nth-child(1) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.vk_part_key div:nth-child(2) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.big_key:hover .vk_part_key .vk_part_key-hexagon_part {
    background: #98f0ff;    
}

.big_key:hover .vk_part_key-hexagon_part_txt {
    color: #333333;
    background: #98f0ff; 
}

.big_key:active .vk_part_key .vk_part_key-hexagon_part {
    background: #98f0ff;    
}

.big_key:active .vk_part_key-hexagon_part_txt {
    color: #333333;
    background: #98f0ff; 
}

.big_key-active .vk_part_key .vk_part_key-hexagon_part {
    background: #98f0ff;    
}

.big_key-active .vk_part_key-hexagon_part_txt {
    color: #333333;
    background: #98f0ff; 
}

/* rec hover and active */

.vk-key-on-rec .vk-key-hexagon_part {
    background-color: rgba(255, 99, 71, 1);    
}

.vk-key-on-rec .vk-key-text {
    color: #dedede;
}

@media screen and (max-width: 859px) {
    .material-icons {
        width: 15px;
        font-size: 14px;
    }

    .use-keyboard-input {        
        margin: auto;
        margin-top: 20px;
    }

    .vk-key {
        width: 33px;
        height: 36px; /*width + 10%*/
        max-width: 50px;
        margin: 1px;     
        font-size: 14px;
    }
}
